<p>こんにちは <%= @resource.name %>さん!</p>

<p>パスワード変更のリクエストを受け付けました。下のリンクをクリックすることでパスワードを変更できます。</p>

<p><%= link_to 'パスワードを変更する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>もし、リクエストをした覚えがない場合は、このメールは無視してください。</p>
<p>あなたのパスワードは上のリンクにアクセスして、新しいパスワードを作らない限り、変更されません。</p>
